body{
    font-size: 18px;
    font-family: 'Barlow', serif;
    text-align: center;
}

.font-f{
    font-family: 'Fraunces',serif;
}



.no-padding{
    padding: 0 !important;
    margin: 0 !important;
}
/* navbar */
.navbar-inner{
    background: transparent;
}

.navbar{
    padding: 1rem 1.5rem;
}

.nav-item{
    padding: 0 1rem;
}
.navbar-toggle-icon{
    outline: none;
    border: none;
}

.navbar-brand{
    font-weight: 600;
}




/* Title Section */

#title-div{

    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url("images/desktop/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-header{
    margin-top: 5%;
    color: white;
    font-size: 300%;
}

.arrow-img{
    margin-top: 5%;
}


/* transform-section */

.fit-image{
    width: 100%;
    object-fit: cover;
}

.transform-col{
    text-align: left;
}

.transform-header{
    margin: 25% 30% 5% 20%;
    color:hsl(212, 27%, 19%)
}

.transform-text1{
    margin: 0 20% 4% 20%;
    color: hsl(232, 10%, 55%);
    
}

.transform-text2{
    margin-left: 21%;
    margin-bottom: 15%;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces',serif;
}

.u-text-1{
    text-decoration: underline;
    text-decoration-color: hsl(51, 100%, 49%);
}

.u-text-2{
    text-decoration: underline;
    text-decoration-color: hsl(7, 99%, 70%);
}

/* graphic-design and photography */


.graphic-design{
    width: 100%;
    height: 37.5rem;
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photography{
    width: 100%;
    height: 37.5rem;
    background-image: url("images//desktop/image-photography.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graphic-header{
    
    padding: 50% 0 5% 0;
    font-family: 'Fraunces',serif;
    color: hsl(167, 40%, 24%);
}

.graphic-text{
   
    padding: 0 25% 0 25%;
    color:hsl(167, 40%, 24%)
}

.photo-header{
    
    padding: 50% 0 5% 0;
    font-family: 'Fraunces',serif;
    columns: hsl(198, 62%, 26%);

}
.photo-text{
    
    padding: 0 25% 0 25%;
    color: hsl(198, 62%, 26%);
}

/* testimonial */

.testimonial-row{
    padding: 0 5rem;
    text-align: center;
}
.card-img-top{
    width: 30%;
    border-radius: 50%;
    margin: 3rem 8rem ;
    
}

.card{
    border: none;
}

.testimonial-header{
    text-align: center;
    margin: 8rem 0 4rem 0;
    font-family: 'Fraunces',serif;
    color: hsl(210, 4%, 67%);
}

.card-body{
    margin: 5rem 0 5rem 0;
}

.card-text{
    padding-bottom: 3rem;
    color: hsl(232, 10%, 55%);
}

.card-name{
    font-family: 'Fraunces',serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%)
}

.card-profile{
    color: hsl(210, 4%, 67%)
}

/* last section */


.last-section{
    text-align: center;
    background-color: hsl(168, 34%, 41%);
    color: hsl(167, 40%, 24%);
    padding-bottom: 3rem;
}

.last-text{
    padding: 0 3rem;
}

.last-header{
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 2rem;
}

.icon{
    color: hsl(167, 40%, 24%);
    padding: 0 1rem;
}
